@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
</div>

<div class="text-center">
    <h2>Open issue: @Model.OpenIssueNumber</h2>
    <h2>High-priority issues: @Model.HighPriorityNumber</h2>
</div>
